/* General App styling */
.App {
  padding: 50px;
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login{
  background-color: lightgray;
  
}
.signup{
  background-color: lightgray;
  

}
.heading{
  color: white;
  text-align: center;
  color: red;
  
  
}
.login .heading, .login .signup {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}
.login form {
  display: flex;
  flex-direction: column;
  
  max-width: 300px;
  margin: 0 auto;
}
.login input[type="text"],
.login input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.login input[type="submit"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.login input[type="submit"]:hover {
  opacity: 0.8;
  background-color: green;
}

.head {
  background-color: lightgrey;
  padding: 5px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.head .navbar {
  display: flex;
  justify-content: center; /* Center navbar items */
  width: 100%; /* Ensure navbar spans the full width */
}

.head .navbar .navbar-nav {
  display: flex; /* Ensure that list items are laid out in a row */
  justify-content: space-evenly; /* Space out the list items evenly */
  width: 100%; /* Ensure the list spans the full width */
  padding-left: 0; /* Remove default padding from the <ul> */
  margin: 0; /* Remove default margin from the <ul> */
}

.head .navbar .nav-link {
  text-decoration: none;
  font-size: 17px;
  padding: 0.5rem 1rem;
  color: white; /* Set all navbar links text color to white */
}

.head .navbar .nav-link.active {
  color: white; /* Ensure active link stays white */
  background-color: rgba(0, 0, 0, 0.2); /* Light background for active link */
}

.head .navbar .nav-link:hover {
  color: blue; /* On hover, the link text will turn blue */
  transition: 0.2s;
}

/* Removed li color styling */
li {
  display: flex;
}
.link{
  color: red;
  margin-left: 47%;
}
